In [46]:
# boundaries
# 'string text', "string text ", '''string text''', """ string text"""

fruit: str = "Guava"
print(fruit)

fruit: str = 'Guava'
print(fruit)

fruit: str = """Guava"""
print(fruit)

fruit: str = '''Guava'''
print(fruit)

Guava
Guava
Guava
Guava

In [45]:
message: str = 'PIAIC Student Card\nfather's Name'
print(message)

SyntaxError: unterminated string literal (detected at line 1) (2987594941.py, line 1)

In [44]:
message: str = "PIAIC Student Card\nfather's Name"
print(message)

PIAIC Student Card
father's Name

In [43]:
# convert any special character into simple character, place \ before the character
message: str = 'PIAIC Student Card\nfather\'s Name'
print(message)

PIAIC Student Card
father's Name

In [42]:
message: str = "PIAIC Student Card\nfather's Name"
print(message)

PIAIC Student Card
father's Name

In [ ]:
"x" + "y" + "z"

'xyz'

In [47]:
"x" + 1

TypeError: can only concatenate str (not "int") to str

In [48]:
"x" + str(10)

'x10'

In [56]:
name: str = "Muhammad Qasim"
father_name: str = "Muhammad Aslam"
education: str = "Master in Data Science"
age: int = 30

card: str = "PIAIC Student Card\nStudent Name: " + name + "\nAge: " + str(age)

print(card)

PIAIC Student Card
Student Name: Muhammad Qasim
Age: 30

In [54]:
print(700 + 100 + 200)

1000

# use \ for line break

In [55]:
print(700 + 100 +\
       200 + 200 +\
          600 + 200)

2000

In [63]:
name: str = 'Muhammad Qasim'
father_name: str = "Muhammad Aslam"
education: str = "Master in Data Science"
age: int = 30

card: str = "PIAIC Student Card\nStudent Name: " +\
             name + "\nFather's Name: " + father_name+\
             "\nAge:" + str(age)+ "\n"+\
             "Education: " + education

print(card)

PIAIC Student Card
Student Name: Muhammad Qasim
Father's Name: Muhammad Aslam
Age:30
Education: Master in Data Science

##  """multiline string""", '''multiline string'''

In [68]:
# just like template strings in javascript
card: str = """
Name: Muhammad Qasim
Father's Name: Muhammad Aslam
Education: Master in Data Science
Age: 30
"""

print(card)

Name: Muhammad Qasim
Father's Name: Muhammad Aslam
Education: Master in Data Science
Age: 30

## F-string in Python

In [70]:
name: str = "Muhammad Qasim"
father_name: str = "Muhammad Aslam"
education: str = "Master in Data Science"
age: int = 30


card: str = f"""
PIAIC Student Card
Student Name : {name}
Father's Name: {father_name}
Age: {age}
Education : {education}
Random expression: {10 + 90 + 900}
"""

print(card)

PIAIC Student Card
Student Name : Muhammad Qasim
Father's Name: Muhammad Aslam
Age: 30
Education : Master in Data Science
Random expression: 1000

## F-string and Jinja style

In [72]:
# F-string
name: str = "Sarfaraz"

message: str = f"""
My name is {name}
"""

print(message)

My name is Sarfaraz

In [77]:
# Jinja (not working, maybe not installed)
name: str = "Sarfaraz"

message: str = """My name is {{name}}"""

print(message)

My name is {{name}}

In [78]:
name: str = "Muhammad Qasim"
father_name: str = "Muhammad Aslam"
education: str = "Master in Data Science"
age: int = 30


card: str = f"""
PIAIC Student Card
Student Name : %s
Father's Name: %s
Age: %d
Education: %s 

""" % (name, father_name, age, education)

print(card)

PIAIC Student Card
Student Name : Muhammad Qasim
Father's Name: Muhammad Aslam
Age: 30
Education: Master in Data Science

In [79]:
name: str = "Muhammad Qasim"
father_name: str = "Muhammad Aslam"
education: str = "Master in Data Science"
age: int = 30


card: str = """
PIAIC Student Card
Student Name : {}
Father's Name: {}
Age: {}
Education: {} 
""".format(name, father_name, age, education)

print(card)

PIAIC Student Card
Student Name : Muhammad Qasim
Father's Name: Muhammad Aslam
Age: 30
Education: Master in Data Science

In [80]:
name: str = "Muhammad Qasim"
father_name: str = "Muhammad Aslam"
education: str = "Master in Data Science"
age: int = 30


card: str = f"""
PIAIC Student Card
Student Name : %s
Father's Name: %s
Age: %d
Education: %s
"""%(name, father_name, age, education)

print(card)

PIAIC Student Card
Student Name : Muhammad Qasim
Father's Name: Muhammad Aslam
Age: 30
Education: Master in Data Science